@font-face {
  font-family: "Circular Std Book";
  src: url("./font/CircularStd-Book.eot");
  src: local("./font/Circular Std Book"), local("CircularStd-Book"),
    url("./font/CircularStd-Book.eot?#iefix") format("embedded-opentype"),
    url("./font/CircularStd-Book.woff2") format("woff2"),
    url("./font/CircularStd-Book.woff") format("woff"),
    url("./font/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

:root {
  --primary: #283b38;
  --secondary: #d6ede9;
  --text: #1a1a1a;
  --grey_light: #818181;
  --grey_dark: #52555a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Circular Std Book", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  color: inherit;
}

input:focus {
  outline: none;
}

input:-internal-autofill-selected,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: var(--white) !important;
}

button,
a {
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
  line-height: 20px;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.fullWidth {
  width: 100%;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.alignStart {
  align-items: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: flex-start;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.justifySpaceAround {
  justify-content: space-around;
}

.textCenter {
  text-align: center;
}

.cursorPointer {
  cursor: pointer;
}

.upperCase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}
